main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-action-section,
.add-form {
    padding-top: 40px;
    text-align: center;
    flex: 1;
}

.add-title-text,
.delete-title-text,
.view-title-text {
    font-size: 28px;
    margin: 18px;
    color: white;
}

.delete-title-text,
.view-title-text {
    text-align: center;
    margin-top: 100px;
}

.add-title-text span,
.delete-title-text span,
.view-title-text span {
    color: #ff5a5f;
    text-decoration: underline;
}

#title-text,
#date-text,
#value-text {
    font-size: 20px;
    margin-right: 10px;
}

#title,
#date {
    background-color: #1a1d1a;
    border: 1px solid #ff5a5f;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    padding: 6px 12px;
    margin: 12px 12px;
}

#date::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.range-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.range-slider p {
    margin: 0;
}

#value {
    -webkit-appearance: none;
    background: #ff5a5f;
    height: 7px;
    width: 200px;
    border-radius: 40px;
    margin: 10px;
}

#value::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    border-radius: 40px;
    height: 20px;
    width: 20px;
}

.chart-area {
    flex: 1;
}

.red-text {
    color: #ff5a5f;
}

.subtitle-text {
    font-size: 28px;
    color: white;
}

.add-button,
.view-button,
.delete-button,
.cancel-button,
.submit-button,
#delete-cancel-button,
#view-cancel-button {
    font-size: 20px;
    font-weight: 700;
    padding: 8px 16px;
    background-color: #ff5a5f;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.15);
}

.cancel-button {
    margin: 20px;
}

#delete-cancel-button,
#view-cancel-button {
    margin-top: 40px;
}

.add-button:hover,
.view-button:hover,
.delete-button:hover,
.cancel-button:hover,
.submit-button:hover,
#delete-cancel-button:hover,
#view-cancel-button:hover {
    color: white;
    border: 2px solid #ff5a5f;
    background-color: #1a1d1a;
}

.add-button:active,
.view-button:active,
.delete-button:active,
.cancel-button:active,
.submit-button:active,
#delete-cancel-button:active,
#view-cancel-button:active {
    opacity: 0.5;
}

.delete-list,
.view-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-icon {
    height: 24px;
    cursor: pointer;
    padding: 6px;
    border-radius: 24px;
}

.delete-icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.statastics {
    width: 86%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid #ff5a5f;
    border-radius: 12px;
    margin: 20px 10px;
    padding: 6px 12px;
}

.statastics p {
    color: white;
}

.statastics-title {
    font-size: 24px;
    text-align: center;
    grid-column: span 3;
    line-height: 24px;
    border-bottom: 2px solid gray;
}