body {
    padding: 0;
    background-color: #1a1d1a;
    margin: 0;
    font-family: Fira Sans, Arial;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.intro-text {
    color: white;
    font-size: 36px;
}

.intro-text span {
    color: #fc6d6d;
    position: relative;
}

.intro-text span::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #1a1d1a;
    border-left: 2px solid #fc6d6d;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

.start-button {
    color: white;
    font-size: 24px;
    border-radius: 8px;
    padding: 8px 14px;
    margin-top: 20px;
    margin-left: 12px;
    background-color: #1a1d1a;
    border: 2px solid #fc6d6d;
    cursor: pointer;
}

.start-button:hover {
    background-color: #fc6d6d;
}

.start-button:active {
    opacity: 0.5;
}

.card-container {
    display: flex;
}

#card-1,
#card-2,
#card-3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 12px;
    background-color: #fc6d6d;
    padding: 4px;
    height: 260px;
    width: 150px;
    margin: 20px;
}

#card-1:hover,
#card-2:hover,
#card-3:hover {
    background-color: #1a1d1a;
    border: 2px solid #fc6d6d;
}

#card-1 p::after {
    content: 'Simplify your expense';
}

#card-1:hover p:after {
    font-size: 12px;
    color: white;
    content: 'Keep track of all your expenses in one place and easily categorize them so you can see where your money is going';
}

#card-2 p::after {
    content: 'Stay on top of your budget';
}

#card-2:hover p:after {
    font-size: 12px;
    color: white;
    content: 'Set budgets for different categories and get alerts when youre getting close to your limit';
}

#card-3 p::after {
    content: 'Visualize your spending';
}

#card-3:hover p:after {
    font-size: 12px;
    color: white;
    content: 'Our app makes it easy to see your spending patterns with interactive charts and graphs.';
}

.card-image {
    height: 40px;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration-image {
    border-radius: 12px;
    /* border: 2px solid #fc6d6d; */
    height: 380px;
}

.illustration-image:hover {
    opacity: 0.8;
}

@media (max-width:750px) {
    .illustration-image {
        opacity: 0;
    }
}